
#header_section
{
  width: 100%;
  --headBarHeight: 50px;
  height: var(--headBarHeight);

  position: fixed;
  z-index: 100;

  background-color: purple;
}

#main_container
{

}

#menu_section
{
  height: 500px;

  background-color: blue;
}

#main_section
{
  overflow: scroll;

  height: calc(100vh - 50px);

  background-color: red;
}
