#main_container
{
  padding-top: var(--headBarHeight);
}
/*SIDEBAR*/
#menu_section{
  margin-top: 1rem;
}
.sidebar-item{
  text-decoration: none;
  color: black;
}
.sidebar-item:hover{
  background-color: #28a745;
  color: white;
  transition: 1s;
}
.sidebar-item>a:hover{
  color: white;
  transition: 0.7s;
}
.not-link{
  text-decoration: none;
  color: black;
}
.not-link:hover{
  text-decoration: none;
  color: black;
}
/* CARDS */
.price{
  text-align: center;
  color: red;
  font-weight: bold;
}
.img-card{
  float: left;
    width:  250px;
    height: 250px;
    object-fit: scale-down;
    align-self: center;
}
.product-link{
  text-decoration-color: black;
  color: black;
}
.product-link:hover{
  text-decoration: underline;
  color: black;
}
/*DASHBOARD*/
#myChart{
  width: 20%;
}
