
#header_section
{
  width: 100%;
  --headBarHeight: 50px;
  height: var(--headBarHeight);

  position: fixed;
  z-index: 100;

  background-color: purple;
}

#main_container
{
  padding-top: var(--headBarHeight);
}

#menu_section
{
  height: 500px;

  background-color: blue;
}

#main_section
{
  height: 800px;

  background-color: red;
}
